openapi: '3.0.3'
info:
  title: JICU API
  description: 急促项目的服务接口。包括：商家平台、管理平台、h5、iOS和Android。
  version: '1.2'

servers:
  - url: https://api.jicu.vip
    description: api链接

paths:
  /app/article:
    get:
      tags:
        - "文章"
      operationId: queryArticles
      summary: 获取文章列表
      description: 获取文章列表
      parameters:
        - name: keywords
          in: query
          description: 查询文章关键词
          schema:
            type: string
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: 文章列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WayQueryArticlePostResp'
        default:
          description: 未知异常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMessage'

  /app/article/{postId}:
    get:
      tags:
        - "文章"
      operationId: getArticle
      summary: 获取指定{postId}文章内容
      description: 获取指定{postId}文章内容
      parameters:
        - $ref: '#/components/parameters/postId'
        - $ref: '#/components/parameters/token'
        - $ref: '#/components/parameters/userLoginId'
      responses:
        '200':
          description: 返回文章内容
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WayQueryArticlePost'
        '404':
          description: 文章不存在
        '500':
          description: 未知异常

components:
  parameters:
    token:
      name: token
      in: header
      description: 用户token
      required: true
      schema:
        type: string
    userLoginId:
      name: userLoginId
      in: header
      description: 用户id
      schema:
        type: integer
        format: int64
    postId:
      name: postId
      in: path
      description: 文章id
      required: true
      schema:
        type: integer
        format: int64
    page:
      name: page
      in: query
      description: 页码
      required: true
      schema:
        type: integer
        format: int32
        default: 1
    pageSize:
      name: pageSize
      in: query
      description: 每页数据量
      required: true
      schema:
        type: integer
        format: int32
        default: 10
  schemas:
    WayQueryArticlePostResp:
      properties:
        total:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/WayQueryArticlePost'

    WayQueryArticlePost:
      properties:
        postId:
          type: integer
          format: int64
        commodityId:
          type: integer
          format: int64
        commodityName:
          type: string
        commodityImage:
          type: string
        subject:
          type: string
        postContent:
          type: string
        publishTime:
          type: date
        postStatus:
          type: integer
          format: int32
        preAction:
          type: integer
          format: int32

    ApiResponseMessage:
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string