<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.way.sp.mapper.WayArticlePostMapper">
    <resultMap id="BaseResultMap" type="com.zl.way.sp.model.WayArticlePost">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="post_content_id" jdbcType="BIGINT" property="postContentId"/>
        <result column="audit_action" jdbcType="TINYINT" property="auditAction"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, commodity_id, subject, post_content_id, audit_action, is_deleted, create_time,
    update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from way_article_post
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zl.way.sp.model.WayArticlePost"
            useGeneratedKeys="true">
        insert into way_article_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityId != null">
                commodity_id,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="postContentId != null">
                post_content_id,
            </if>
            <if test="auditAction != null">
                audit_action,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commodityId != null">
                #{commodityId,jdbcType=BIGINT},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="postContentId != null">
                #{postContentId,jdbcType=BIGINT},
            </if>
            <if test="auditAction != null">
                #{auditAction,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zl.way.sp.model.WayArticlePost">
        update way_article_post
        <set>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=BIGINT},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="postContentId != null">
                post_content_id = #{postContentId,jdbcType=BIGINT},
            </if>
            <if test="auditAction != null">
                audit_action = #{auditAction,jdbcType=TINYINT},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and is_deleted != 1
    </update>
    <select id="querySelective" resultType="com.zl.way.sp.model.WayArticlePost">
        select
        <include refid="Base_Column_List"/>
        from way_article_post
        where is_deleted != 1
        <if test="condition.subject">
            and subject like concat('%', #{condition.subject,jdbcType=VARCHAR}, '%')
        </if>
        order by id desc
        <if test="pageable != null and pageable.offset != null and pageable.pageSize != null">
            limit ${pageable.offset}, ${pageable.pageSize}
        </if>
    </select>
</mapper>